.container {
  width: 100%;
  margin-inline: auto; 
}

.btn {
  display: inline-block;
  background-color: var(--clr-bright);
  color: var(--clr-slate-800);
  padding: 0.5em 1em;
  border-radius: 6px;
  font-weight: 500;
  line-height: 1.75rem ;
  text-decoration: none;
  transition: all 0.3s;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--clr-light-plus);
  color: var(--clr-slate-800);
  /* transform: translateY(-5px) */
}

.btn:focus-visible {
  outline: solid var(--clr-text);
}


section {
  margin-top: 5rem;
}

@media (min-width: 475px) {
  .container {
    max-width: 475px;
  }
}

@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }

  .section {
    margin-top: 10rem;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}

