.about__section {
  text-align: start;
}

.about__title-1 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: var(--size-base);
  font-family: var(--font-secondary);
  color: var(--clr-text);
  padding-bottom: 0.6rem;
}

.about__title-2 {
  color: var(--clr-light);
  font-size: var(--size-3xl);
  padding-bottom: 1.5rem;
}

.about__desc-1 {
  font-family: var(--font-secondary);
  color: var(--clr-muted);
  padding-bottom: 2rem;
  max-width: 63ch;
}

.about__desc-2 {
  color: var(--clr-text);;
  padding-bottom: 2rem;
  max-width: 63ch;
}

.about__icon {
  margin-left: 0.25em;
  display: inline-block;
  fill: var(--clr-slate-800);
  vertical-align: middle;
  width: 1em;
  width: 1em;
}



.about__btn {
  margin-bottom: 3rem;
}

.about__stats-title {
  font-size: var(--size-sm);
  font-family: var(--font-secondary);
  line-height: 1;
}

.about__stats-num {
  font-weight: 700;
  font-size: var(--size-4xl);
  color: var(--clr-text);
}

.about__strong {
  font-weight: 700;
}

.about__stats-card > *+* {
  padding-bottom: 2rem;
}

@media (min-width: 475px) {

}

@media (min-width: 640px) {

}

@media (min-width: 768px) {

}

@media (min-width: 1024px) {
  .about__section {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .about__stats {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .about__desc-1 {
    font-size: var(--size-base);
  }

  .about__desc-2 {
    font-size: var(--size-base);
  }
}

@media (min-width: 1280px) {
  .about__container {
    display: flex;
    justify-content: space-between;
  }

  .about__section {
    display: block;
    text-align: left;
  }

  .about__stats {
    display: block;
    text-align: right;
  }
  
  .about__stats-num {
    font-size: var(--size-5xl);
  }
}

@media (min-width: 1536px) {

}