.hero {
  /* padding: 5rem; */
  text-align: center;
}

.hero > * + * {
  margin-top: 1.5rem;
}

.hero__logo {
  width: var(--size-9xl);
  height: var(--size-9xl);
  object-fit: contain;
  margin-inline: auto;
}

.hero__title {
  margin-inline: auto;
  font-weight: 900;
  font-size: var(--size-3xl);
  max-width: 24ch;
  line-height: 1;
}

.hero__desc {
  font-size: var(--size-sm);
  font-family: var(--font-secondary);
  color: var(--clr-text);
  max-width: 70ch;
  margin-inline: auto;

}

.hero__info {
  font-size: var(--size-sm);
  max-width: 57ch;
  margin-inline: auto;
}

.hero__btn {
  font-size: var(--size-sm);
}

.hero__break {
  display: none;
}

@media (min-width: 475px) {
  .hero__logo {
    width: var(--size-10xl);
    height: var(--size-10xl);
  }

  .hero__title {
    font-size: var(--size-4xl);
  }

  .hero__info {
    font-size: var(--size-base);
  }

  .hero__desc {
    font-size: var(--size-base);
  }

  .hero__btn {
    font-size: var(--size-base);
  }

}

@media (min-width: 640px) {
  .hero__title {
    font-size: var(--size-5xl);
  }

  .hero__desc {
    font-size: var(--size-lg);
  }

  .hero__info {
    font-size: var(--size-lg);
  }

  .hero__btn {
    font-size: var(--size-lg);
  }
}

@media (min-width: 768px) {
  .hero__break {
    display: block;
  }
}

@media (min-width: 1024px) {
  .hero__logo {
    width: 11.25rem;
    height: 11.25rem;
  }

  .hero__title {
    font-size: var(--size-5xl);
  }
}

@media (min-width: 1280px) {
  .hero__title {
    font-size: var(--size-6xl);
  }

  .hero__desc {
    font-size: var(--size-xl);
  }

  .hero__info {
    font-size: var(--size-xl);
  }

  .hero__btn {
    font-size: var(--size-xl);
  }
}

@media (min-width: 1536px) {

}